@import "../node_modules/react-vis/dist/style.css";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.legend{
  float: right;
}

.column{
  float: left;
  width: 50%;
}

.column3First{
  float: left;
  width: 33%;
  padding: 0px;
  margin: 0px;
}

.column3{
  float: left;
  width: 33%;
  border-left: 2px solid;
  padding: 0px;
  margin: 0px;
}

.disabledAnchor{
  pointer-events: none !important;
  cursor: default;
  color:Gray;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.top-center {
    position: absolute;
    top: 0px;
}

.center-50{
  margin-left: 25%;
  width: 50%;
}

.blink_text {
  animation:2s blinker linear infinite;
  -webkit-animation:2s blinker linear infinite;
  -moz-animation:2s blinker linear infinite;
  color: red;
  }

.tooltiptext {
    visibility: visible;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    opacity: 1;    
    left: 50%;
    transition: opacity 0.3s;
}
  @-moz-keyframes blinker {  
   0% { opacity: 1.0; }
   50% { opacity: 0.1; }
   100% { opacity: 1.0; }
   }

  @-webkit-keyframes blinker {  
   0% { opacity: 1.0; }
   50% { opacity: 0.1; }
   100% { opacity: 1.0; }
   }

  @keyframes blinker {  
   0% { opacity: 1.0; }
   50% { opacity: 0.1; }
   100% { opacity: 1.0; }
  }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
